name: Build and push Docker image

on: [push]

jobs:
  build:

    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build with Maven
      run: mvn -B package --file pom.xml
    - name: Build Docker image
      run: docker build . --file Dockerfile --tag reverse-proxy:latest
    - name: Docker login
      run: docker login -u maxgrabert --password ${{ secrets.GITHUB_TOKEN }} docker.pkg.github.com
    - name: tag Docker image
      run: docker tag reverse-proxy docker.pkg.github.com/maxgrabert/reverse-proxy
    - name: push Docker image
      run: docker push docker.pkg.github.com/maxgrabert/reverse-proxy:latest
